<form method="POST">
    <input type="email" name="email" value='' placeholder="Tu email">
    <br><br>
    <input type="password" name="password" value='' placeholder="Tu password">
    <br><br>
    <input type="submit" value="Login">
</form>

<script type="/text/javascript">
    const formLogin = document.querySelector('#login')
    const formData = new FormData(formLogin)

    formLogin.addEventListener('submit', event => {
        event.preventDefault()
        fetch( 'api/signin', {
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(
            data => console.log(data)
            )
    })

</script>